<section class="section row collapse highlighted_proposals">
  <div class="title-action">
    <h4 class="title-action__title section-heading">
      <%= translated_attribute(model.name) %>
      <a href="<%= main_component_path(model) %>" class="title-action__action text-small"><%= t("decidim.participatory_spaces.highlighted_proposals.see_all", count: proposals_count) %></a>
    </h4>

    <% if current_settings.creation_enabled && current_component.participatory_space.can_participate?(current_user) %>
      <%= action_authorized_link_to :create, new_proposal_path, class: "title-action__action button small hollow", data: { "redirect_url" => new_proposal_path } do %>
        <%= t("decidim.proposals.proposals.index.new_proposal") %>
        <%= icon "plus" %>
      <% end %>
    <% else %>
      <span class="title-action__action button small hollow disabled">
        <%= t("decidim.proposals.proposals.index.new_proposal") %>
        <%= icon "plus" %>
      </span>
    <% end %>
  </div>

  <%= cell(
    "decidim/collapsible_list",
    proposals_to_render,
    cell_options: {},
    list_class: "row small-up-1 medium-up-2 card-grid",
    size: proposals_count
    ) %>

  <%= link_to(
    t("decidim.participatory_spaces.highlighted_proposals.see_all", count: proposals_count),
    main_component_path(model),
    class: "button button--sc light secondary button--right"
  ) %>
</section>
