/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "decidim";

.title-bar {
  background-color: #fafafa;
}

.topbar__dropmenu > ul > li > a,
.topbar__edit__link a,
.topbar__user__login a {
  color: #3d393c;

  &:hover {
    color: $secondary;
  }
}

.topbar__notifications .icon,
.topbar__conversations .icon {
  fill: #3d393c;
}

.main-footer {
  min-height: 135px;
}

.topbar__dropmenu .is-dropdown-submenu {
  border-color: #e0e0e0;

  &::before {
    border-bottom-color: #e0e0e0;
  }
}

.topbar__search input,
.topbar__search input:focus {
  background-color: #e0e0e0;
  color: #3d393c;

  &::placeholder {
    color: #3d393c;
  }
}
.topbar__search svg {
  color: #3d393c;
}

.process-header__main {
  background-size: contain;
}
