// // Variables
// 
$primary: #eb741e;
$secondary: #24008b;
// $success: #57d685;
// $warning: #ffae00;
// $alert: #ec5840;
// 
// $proposals: #238ff7;
// $actions: #57d685;
// $debates: #fa6c96;
// $meetings: #fabc6c;
// 
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;

@import "decidim/application";
